*{
    box-sizing: border-box;
}
body{
    background-image:  url(bg.jfif);
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    background-size: contain, cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    width: 900px;
    height: 117vh;
    margin: auto;
    display: flexbox;
    background-color: #f1c27d;
}
.container {
    width: 100%;
    display: block;
}

.logo {
    width: 250px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
}
.nav_links li {
    display: inline;  
    padding: 20px; 
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a:hover{
    color: blue;
    transition: .3s;
}
ul li a{
    text-decoration: none;
    display: inline;   
    color: black;
    font-weight: bold;
}

p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    text-shadow: 0 0 5px whitesmoke;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=text]:hover {
    background-color: #c4d7e2;
  }
  
  /* Add a background color and some padding around the form */
  .hero {
    max-width:350px;
    height: 420px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px 3px;
    margin-left: 20px;
  }
  
  input[type=button]{
    width: 200%;
    background-color: #bce6e8;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
.social{
    text-align: left;
    margin-left: 10px;
}
#fb {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.social{
    padding-top: 50px;

}
p {
    font-style: italic;
}
#insta{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
#footer{
    text-align: center;
    font-size: small;
    border-bottom: 10px;
    color: rgb(43, 34, 2);
}

  @media(max-width: 600px){
    html, body, .main, .container{
        width: 100%;
        margin: 0;
    }
    .nav_links li, nav, nav ul li, ul li a{
        display: inline-block;
        font-size: 12px;
        padding: 5px;
    }
    .main {
        height: 950px;
    }
    .hero {
        max-width:350px;
        margin-left: 12px;
        margin-right: 12px;
      }
}
      
